
<div class="container">
    <div class="h2 mb-4 text-primary">Property Details</div>
   <form [formGroup] = "bookingForm" (ngSubmit)="saveBooking()">


    <div class="form-group">
        <label for="firstName" class="text-primary">First Name</label>
        <input id="firstName" class="form-control" type="text" formControlName="user.firstName" >
    </div>

    <div class="form-group">
        <label for="email" class="text-primary">Email</label>
        <input id="email" class="form-control" type="text" formControlName="user.email" >
    </div>

    <div class="form-group">
        <label for="propertyId" class="text-primary">PropertyId</label>
        <input id="propertyId" class="form-control" type="number" formControlName="propertyId" >
    </div>


    <div class="form-group">
        <label for="dateTime" class="text-primary">Date</label>
        <input id="dateTime" class="form-control" type="date" formControlName="dateTime">
    </div>

    <div class="form-group">
        <label for="inquiry" class="text-primary">Inquiry</label>
        <input id="inquiry" class="form-control" type="text" formControlName="inquiry">
    </div>

    <button class="btn btn-success mt-2" type="(submit)">Save Booking</button>
   </form>
</div>